@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f2e9e4;
}

.hero-box {
	width: 600px;
	margin: 50px auto;
	position: relative;
}

.hero-img {
	width: 100%;
	border-radius: 18px;
}

.hero-content {
	position: absolute;
	text-align: center;
	color: #fff;
	bottom: 60px;
	padding: 6px;
}

p {
	font-size: 15px;
}

.btn {
	background-color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 40px;
	font-size: 16px;
	font-weight: 500;
}
