@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,800&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f2e9e4;
}

.hero-box {
	width: 800px;
	margin: 30px auto;
	position: relative;
}

.hero-img {
	width: 100%;
}

.hero-content {
	position: absolute;
	width: 100%;
	color: white;
	text-align: center;
	bottom: 130px;
}

h1 {
	font-size: 60px;
	font-style: italic;
	font-weight: 800;
	margin-bottom: 5px;
}

h3 {
	font-weight: 500;
}

.inputs {
	width: 100%;
	position: absolute;
	bottom: 30px;
	margin-left: 60px;
}

.location-box {
	position: relative;
	left: 50px;
}
.search-box {
	position: relative;
	bottom: 35px;
	left: 231px;
}

.location {
	width: 120px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid lightgray;
}

.search {
	width: 400px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 1px solid lightgray;
}
input {
	border: none;
	padding: 10px 30px;
}
input::placeholder {
	font-weight: 500;
	font-size: 15px;
}

.fa-location-dot {
	position: absolute;
	color: rgb(245, 84, 84);
	top: 10px;
	left: 5px;
}
.fa-caret-down {
	position: absolute;
	color: rgb(84, 82, 82);
	position: absolute;
	top: 10px;
	left: 160px;
}
.fa-magnifying-glass {
	position: absolute;
	color: gray;
	top: 10px;
	left: 10px;
}
