@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.form {
	font-family: 'Poppins', sans-serif;
	border: none;
	width: 400px;
	margin: 100px auto;
	justify-content: center;
}

.logo-img {
	width: 150px;
	margin-left: 120px;
}

.title {
	text-align: center;
}

h4 {
	text-align: center;
	margin-bottom: 30px;
}

.input {
	width: 100%;
	margin-bottom: 12px;
	padding: 15px;
	border: 1px solid rgb(232, 232, 232);
	border-radius: 13px;
	box-sizing: border-box;
	font-size: 16px;
}
.show {
	text-decoration: none;
	font-size: 12px;
	color: lightgray;
	margin-left: 350px;
	margin-top: 15px;
	position: absolute;
}

.btn {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 18px 50px;
	border-radius: 50px;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 90px;
}

.content {
	margin-top: 30px;
	text-align: center;
	color: gray;
	font-size: 14px;
}

a {
	color: #000;
	text-decoration: underline;
}
span {
	text-decoration: underline;
}

.terms {
	margin-top: 40px;
	font-size: 12px;
}
